<!DOCTYPE html>
<html>
	<head>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
	    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
			<link rel="icon" href="http://sendpictures.free.fr/up/1412245903.ico"/>
		{% stylesheets 'bundles/cvsite/css/*' filter='cssrewrite' %}
	    	<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% javascripts 'bundles/cvsite/js/*' %}
		    <script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	    {% block head %}
	    {% endblock %}
	</head>
	
    <body>
	    <div class="top">
		    <div class="topping">
				<div class="image">
					<img src="{{ asset('bundles/cvsite/images/photos/alana.jpg') }}" alt="Picture Alana TAYLOR" class="img-thumbnail"/>
				</div>
			</div>
		    <div class="topping">
				<div class="adress">
					<address>
						 Alana TAYLOR<br/>
						 Bordeaux, FRANCE<br/> 
						 <abbr title="Téléphone">T:</abbr> +33 6 68 21 24 42<br/> 
						 <abbr title="Mail">M:</abbr> alanataylor@hotmail.fr<br/> 
					</address>
				</div>
			</div>
		    <div class="topping">
				<div class="nationalite">
					<p>Double nationalité : franco-néo-zélandaise</p>
					<img src="{{ asset('bundles/cvsite/images/france.png') }}" alt="France" class="img-thumbnail"/>
					<img src="{{ asset('bundles/cvsite/images/new_zealand.png') }}" alt="Nouvelle Zélande" class="img-thumbnail"/>
				</div>
			</div>
	    	<div class="topping">
				<div class="external_links">
					<p>Autres liens</p>
					<a href="https://www.linkedin.com/profile/view?id=AAIAABfovwwBgdhyF6H0qVBOk3VJP4fS2FBUN6U&trk=nav_responsive_tab_profile">
						<img src="{{ asset('bundles/cvsite/images/logo_linkedin.png') }}" alt="Linkedin Alana TAYLOR" class="img-thumbnail"/>
					</a>
			    	<abbr title="Retrouvez le code du site sur GitHub">
			    		<a href="https://github.com/NanaRT/CvSite">
			    			<img src="{{ asset('bundles/cvsite/images/logos/GitHub.png') }}" alt="GitHub" class="img-thumbnail"/> 
			    		</a>
			    	</abbr>
				</div>
			</div>
		</div>
		
		<div id='cssmenu'>
			<ul id="menu">
				<li id='active'><a href='{{path('cvsite')}}'><span> <img src="{{ asset('bundles/cvsite/images/menu/home.png') }}"/> Accueil</span></a>
				</li>
			   <li id='active'><a href='{{path('formation')}}'><span> <img src="{{ asset('bundles/cvsite/images/menu/scholar.png') }}"/> Formation & compétences</span></a>
			       <ul>
		               <li><a href='{{path('formation')}}#Compétences'><span>Compétences</span></a></li>
		               <li><a href='{{path('formation')}}#Formation'><span>Formation</span></a></li>
		               <li><a href='{{path('formation')}}#Bureautique'><span>Bureautique</span></a></li>
		               <li><a href='{{path('formation')}}#Loisirs'><span>Loisirs</span></a></li>
			       </ul>
			   </li>
			   <li id='active'><a href='{{path('professionel')}}'><span> <img src="{{ asset('bundles/cvsite/images/menu/work.png') }}"/> Expérience professionelle</span></a>
			   </li>
			   <li id='active'><a href='{{path('projets')}}'><span> <img src="{{ asset('bundles/cvsite/images/menu/projet.png') }}"/> Projets</span></a>
			       <ul>
		               <li><a href='{{path('projetsinfo')}}'><span>Informatique</span></a></li>
		               <li><a href='{{path('lansalon')}}'><span>Lans&Salons</span></a></li>
		               <li><a href='{{path('vieassociative')}}'><span>Vie associative</span></a></li>
			       </ul>
			   </li>
			</ul>
		</div>
		
		
		
        {% block menu %}{% endblock %}
        {% block body %}{% endblock %}
        
		<div class="footer">
			<div class="col-md-3">
			</div>
			<div class="col-md-2">
				<img src="{{ asset('bundles/cvsite/images/my_logo.png') }}"/>
			</div>
			<div class="col-md-2">
				 Alana TAYLOR </br>
				 Bordeaux, FRANCE 
			</div>
			<div class="col-md-2">
				+33 6 68 21 24 42</br>
				alanataylor@hotmail.fr
			</div>
		</div>
    </body>
    
    {% javascripts %}
    {% endjavascripts %}
</html>
